html {
    font-family:  sans-serif;
}

.library {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2%;
}

.book {
    border: 1px solid;
    border-radius: 2px;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

body {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.addBook {
    visibility: hidden;
    left:0;
    right:0;
    position:fixed;
    padding: 5%;
    border: 1px solid;
    margin: 0 auto;
    width: 25%;
}